{
    "presets": ["env", "react", "stage-0"],
    "plugins": [
        "dva-hmr",
        "transform-decorators-legacy",
        "transform-async-to-generator",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}
